<div class="tab">
  <div class="format">
    <%= form_with model: [@book, @list] do |list| %>
      <%= render "shared/error_messages", object: list.object %>
      <%= render "form", list: list %>

      <div class="form-set">
        <%= list.submit "変更", class:"submit-btn" %>
      </div>
      <div class="destroy">
        <div title="削除">
          <%= link_to image_tag("dustbin.png", class:"destroy-icon"), 
            book_list_path(@book, @list.id), data: { turbo_method: :delete }, method: :delete %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render "shared/tab" %>
</div>