<div class='list'>
  <div class="top">
    <div class="back">
      <%= link_to image_tag('back.png'), book_schedules_path(@book) %>
    </div>
    <div class='top-title'>
      <%= @category %>
    </div>
  </div>

  <div class='list-index'>
    <% @lists.each do |l| %>
      <div class='lists'>
        <%= link_to edit_book_list_path(l.book, l) do %>
          <div class='list-content'>
            <%= l.content %>
          </div>
          <div class='list-quantity'>
            <%= l.quantity %>
          </div>
          <div class='list-price'>
            <%= l.price %>
          </div>
          <div class='list_memo'>
            <%= l.list_memo %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>