<div class='tab'>
  <div class="format">
    <%= form_with(model: @list, url: book_lists_path(@book, @category)) do |l| %>
      <%= render 'shared/error_messages', object: l.object %>
      <%= render "form", l: l %>

      <div class="form-set">
        <%= l.submit "追加", class:"submit-btn" %>
      </div>
    <% end %>
  </div>
  <%= render "shared/tab" %>
</div>