<div class="tab">
  <div class="format">
    <%= form_with(model: @list, url: book_lists_path(@book, @category)) do |list| %>
      <%= render "shared/error_messages", object: list.object %>
      <%= render "form", list: list %>

      <div class="form-set">
        <%= list.submit "追加", class:"submit-btn" %>
      </div>
    <% end %>
  </div>
  <%= render "shared/tab" %>
</div>