<div class="book">

  <div class="link-books">
    <div class="new-book">
      <%= link_to new_book_path do %>
        <%= image_tag "book.png", class: "new-book-icon" %>
        <span class="new-journey">New Journey</span>
      <% end %>
    </div>

    <div class="all-book">
      <%= link_to books_path do %>
        <%= image_tag "all-book.png", class: "all-book-icon" %>
        <span class="everyone">Everyone's Journey </span>
      <% end %>
    </div>
  </div>

  <div class="my-books">
    <%= link_to "My Journeys", "/", class:"my-journeys" %>
    <%= link_to "My favorite journeys", users_path, class:"my-favorite-journeys" %>
  </div>

  <div class="book-index">
    <% @books.each do |book| %>
      <%= render "books/book", book: book %>
    <% end %>
  </div>
</div>