<div class='tab'>
  <div class="format">
    <%= form_with(model: [@book, @schedule], url: book_schedule_path(@book, @schedule), method: :patch, id:'form_id') do |s| %>
      <%= render 'shared/error_messages', object: s.object %>
      <%= render "form", s: s %>

      <div class="form-set">
        <%= s.submit "変更", class:"submit-btn" %>
      </div>
      <div class="destroy">
        <div title="予定を削除">
          <%= link_to image_tag("dustbin.png", class:"destroy-icon"), 
            book_schedule_path(@book, @schedule.id), data: { turbo_method: :delete }, method: :delete %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render "shared/tab" %>
</div>