<div class="tab">
  <div class="format">
    <div class="back">
      <%= link_to image_tag("back.png"), book_schedules_path %>
    </div>

    <%= form_with(model: [@book, @schedule], url: book_schedule_path(@book, @schedule), method: :patch, remote: true,) do |schedule| %>
      <%= render "shared/error_messages", object: schedule.object %>
      <%= render "form", schedule: schedule %>

      <div class="form-set">
        <%= schedule.submit "変更", class:"submit-btn" %>
      </div>
      <div class="destroy">
        <div title="予定を削除">
          <%= link_to image_tag("dustbin.png", class:"destroy-icon"), 
            book_schedule_path(@book, @schedule.id), data: { turbo_method: :delete }, method: :delete %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render "shared/tab" %>
</div>