<%= render "shared/header" %>
<% if user_signed_in? && current_user.id == @book.user_id %>
      <%= link_to(new_book_schedule_path, data: {"turbolinks" => false}, class: 'purchase-btn') do %>
      <h2>予定を追加する</h2>
    <% end %>
    <% end %>
  <ul class='schedule-lists'>
  <% unless @schedules == nil %>
  <% @schedules.each do |schedule| %>
    <li class='list'> 
      <div class='schedule-info'>
        <h3 class='schedule-summary'>
          <%= schedule.summary %>
        </h3>
        <div class='schedule-date_time'>
           <%= schedule.date_time %>
         </div>
        <div class='schedule-icon'>
           <%= schedule.icon %>
        </div>
        <div class='schedule-location'>
          <%= schedule.location %>
        </div>
        <div class='schedule-departure'>
          <%= schedule.departure %>
        </div>
        <div class='schedule-arrival'>
          <%= schedule.arrival %>
        </div>
        <div class='schedule-departure_time'>
          <%= schedule.departure_time %>
        </div>
        <div class='schedule-arrival_time'>
          <%= schedule.arrival_time %>
        </div>
        <div class='schedule-cost'>
          <%= schedule.cost %>
        </div>
      </div>
    </ul>
  <% end %>
  <% end %>

<%= render "shared/footer" %>