<div class='tab'>
  <div class="format">
    <%= form_with(model: @schedule, url: book_schedules_path(@book), id:'form_id') do |s| %>
      <%= render 'shared/error_messages', object: s.object %>
      <%= render "form", s: s %>

      <div class="form-set">
        <%= s.submit "追加", class:"submit-btn" %>
      </div>
    <% end %>
  </div>
  <%= render "shared/tab" %>
</div>