<%= render "shared/header" %>

<div class="format">
  <%= form_with(model: @schedule, url: book_schedules_path(@book), id:'form_id') do |f| %>
    <div class="form-set">
      <div class="form">
        タイトル<span>*</span>
      </div>
      <%= f.text_field :summary, class:"summary", placeholder:"20文字まで", maxlength:"20" %>
    </div>
    <div class="form-set">
      <div class="form">
        日時<span>*</span>
      </div>
      <%= f.datetime_field :date_time, value: @book.start.strftime('%Y/%m/%dT%T'), class:"date_time" %>
    </div>

    <div class="form-set">
      <div class="form">
        <%= f.label :icon_id, 'アイコン' %>
        <div class="icon-select">
          <%= f.collection_radio_buttons :icon_id, Icon.all, :id, :image do |b| %>
            <div class="radio-label">
              <%= b.label { image_tag(b.object.image, class: 'icon-image') } %>
            </div>
            <div class="icon-radio-btn">
              <%= b.radio_button %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-set">
      <div class="form">
        場所
      </div>
      <%= f.text_field :location, class:"location" %>
    </div>
    <div class="form-set">
      <div class="form">
        出発～到着
      </div>
      <%= f.text_field :departure, class:"departure", placeholder:"出発地" %>
      <%= f.datetime_field :departure_time, value: (f.object.departure_time || Time.now.strftime('%Y/%m/%dT%T')), class:"period" %>
      ～
      <%= f.text_field :arrival, class:"arrival", placeholder:"到着地" %>
      <%= f.datetime_field :arrival_time, value: (f.object.arrival_time || Time.now.strftime('%Y/%m/%dT%T')), class:"period" %>
    </div>
    <div class="form-set">
      <div class="form">
        費用
      </div>
      <%= f.text_field :cost, class:"cost" %>
    </div>
    <div class="form-set">
      <div class="form">
        URL1
      </div>
      <%= f.text_field :url1, class:"url1" %>
    </div>
    <div class="form-set">
      <div class="form">
        URL2
      </div>
      <%= f.text_field :url2, class:"url2" %>
    </div>
    <div class="form-set">
      <div class="form">
        メモ
      </div>
      <%= f.text_area :memo, class:"memo" %>
    </div>

    <div class="form-set">
      <div class="form">
        イメージ
      </div>
      <div class="click-upload">
        <%= f.file_field :image, class:"upload-btn"%>
      </div>
    </div>
    <div class="required">
      <span>*</span>は必須項目です
    </div>
    <div class="form-set">
      <%= f.submit "追加" ,class:"submit-btn" %>
      <%=link_to 'もどる', book_schedules_path(@book), class:"back-btn" %>
    </div>
  <% end %>
</div>

<%= render "shared/footer" %>