<div class="form-set">
  <div class="form">
    タイトル<span>*</span>
  </div>
  <%= b.text_field :title, class:"title", placeholder:"20文字まで", maxlength:"20" %>
</div>
<div class="form-set">
  <div class="form">
    旅の概要
  </div>
  <%= b.text_area :description, class:"description", placeholder:"70文字まで", rows:"4" ,maxlength:"70" %>
</div>
<div class="form-set">
  <div class="form">
    期間
  </div>
  <%= b.date_field :start, value: (b.object.start || Time.now.strftime("%Y/%m/%d")), class:"period" %>
  <span>*</span> ～
  <%= b.date_field :end, class:"period" %>
</div>
<div class="form-set">
  <div class="form">
    場所
  </div>
  <%= b.text_field :place, maxlength:"30", class:"place" %>
</div>
<div class="form-set">
  <div class="form">
    公開しますか？<span>*</span>
  </div>
  <div class="publication">
    <div class="close">
      <%= b.radio_button(:publication, "非公開", class: "publication-btn") %>
      <%= b.label(:publication, "非公開", value: "非公開") %>
    </div>
    <div class="open">
      <%= b.radio_button(:publication, "公開", class: "publication-btn") %>
      <%= b.label(:publication, "公開", value: "公開") %>
    </div>
  </div>
</div>

<div class="form-set">
  <div class="form">
    イメージ
  </div>
  <div class="click-upload">
    <%= b.file_field :images, class:"upload-btn"%>
  </div>
</div>
<div class="required">
  <span>*</span>は必須項目です
</div>