<div class="form-set">
  <div class="form">
    タイトル<span>*</span>
  </div>
  <%= book.text_field :title, class:"f-title", placeholder:"20文字まで", maxlength:"20" %>
</div>
<div class="form-set">
  <div class="form">
    旅の概要
  </div>
  <%= book.text_area :description, class:"f-description", placeholder:"70文字まで", rows:"4" ,maxlength:"70" %>
</div>
<div class="form-set">
  <div class="form">
    期間
  </div>
  <div class="period-form">
    <%= book.date_field :start, value: (book.object.start || Time.now.strftime("%Y/%m/%d")), class:"period" %>
    <span>*</span> ～
    <%= book.date_field :end, class:"period" %>
  </div>
</div>
<div class="form-set">
  <div class="form">
    場所
  </div>
  <%= book.text_field :place, maxlength:"30", class:"f-place" %>
</div>
<div class="form-set">
  <div class="form">
    公開しますか？<span>*</span>
  </div>
  <div class="f-publication">
    <div class="f-close">
      <%= book.radio_button(:publication, "非公開", class: "publication-btn") %>
      <%= book.label(:publication, "非公開", value: "非公開") %>
    </div>
    <div class="f-open">
      <%= book.radio_button(:publication, "公開", class: "publication-btn") %>
      <%= book.label(:publication, "公開", value: "公開") %>
    </div>
  </div>
</div>

<div class="form-set">
  <div class="form">
    イメージ
  </div>
  <div class="upload">
    <%= book.file_field :images, class:"upload-btn"%>
  </div>
</div>
<div class="required">
  <span>*</span>は必須項目です
</div>