<%# CSSはnewと兼用 %>

<%= render "shared/header" %>

<div class="new">
  <%= form_with model: @book, local: true do |f| %>
    <div class="new-form-set">
      <div class="new-form">
        タイトル<span>*</span>
      </div>
      <%= f.text_field :title, class:"new-book-title", placeholder:"20文字まで", maxlength:"20" %>
    </div>
    <div class="new-form-set">
      <div class="new-form">
        旅の概要
      </div>
      <%= f.text_area :description, class:"new-book-text", placeholder:"100文字まで", rows:"5" ,maxlength:"100" %>
    </div>
    <div class="new-form-set">
      <div class="new-form">
        期間
      </div>
      <%= f.date_field :start, value: (f.object.start || Time.now.strftime("%Y-%m-%d")), class:"period" %>
      ～
      <%= f.date_field :end, class:"period" %>
    </div>
    <div class="new-form-set">
      <div class="new-form">
        場所
      </div>
      <%= f.text_field :place, class:"place" %>
    </div>
    <div class="new-form-set">
      <div class="new-form">
        公開しますか？<span>*</span>
      </div>
      <div class="publication">
        <div class="close">
          <%= f.radio_button(:publication, "非公開") %>
          <%= f.label(:publication, "非公開", value: "非公開") %>
        </div>
        <div class="open">
          <%= f.radio_button(:publication, "公開") %>
          <%= f.label(:publication, "公開", value: "公開") %>
        </div>
      </div>
    </div>

    <div class="new-form-set">
      <div class="new-form">
        イメージ
      </div>
      <div class="click-upload">
        <%= f.file_field :image, class:"upload-btn"%>
      </div>
    </div>
    <div class="hissu">
      <span>*</span>は必須項目です
    </div>
    <div class="new-form-set">
      <%= f.submit "変更！" ,class:"new-btn" %>
      <%= link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <div class="book-destroy">
      <div title="しおりを削除">
        <%= link_to image_tag("ごみ箱のフリーアイコン.png", class:"destroy-icon"), 
          book_path(@book.id), data: { turbo_method: :delete }, method: :delete %>
      </div>
    </div>
  <% end %>
</div>

<%= render "shared/footer" %>