<div class="format">
  <div class="back">
    <%= link_to image_tag("back.png"), root_path %>
  </div>

  <%= form_with model: @book, local: true do |book| %>
    <%= render "shared/error_messages", object: book.object %>
    <%= render "form", book: book %>

    <div class="form-set">
      <%= book.submit "変更", class:"submit-btn" %>
    </div>
    <div class="destroy">
      <div title="しおりを削除">
        <%= link_to image_tag("dustbin.png", class:"destroy-icon"), 
          book_path(@book.id), data: { turbo_method: :delete }, method: :delete %>
      </div>
    </div>
  <% end %>
</div>