<div class='book'>
  <div class='new-journey'>
    <% if user_signed_in? %>
      <%= link_to(new_book_path, data: {"turbolinks" => false}) do %>
        <%= image_tag 'book.png', class: "new-journey-icon" %>
        <span class='new-journey-text'>New Journey</span>
      <% end %>
    <% end %>
  </div>

  <div class='book-index'>
    <% @books.each do |book| %>
      <div class='books'>
        <%= link_to book_schedules_path(book.id) do %>
          <div class='book-btn'>
            <div class="book-cover">
              <% if book && book.images.attached? %>
                <% image = book.images.first %>
                <%= image_tag image.variant(resize: '300x300'), class: 'book-img' %>
              <% else %>
                <%= image_tag "sample_airplane.png", class:'book-img' %>
              <% end %>
            </div>
            <div class='book-list'>
              <div class='book-title'>
                <% if book.publication == "公開" %>
                  <%= image_tag "open-icon.png", class: "open-icon" %>
                <% end %>
                <%= book.title %>
              </div>
              <div class='book-place'>
                <%= book.place %>
              </div>
              <div class='book-description'>
                <%= book.description %>
              </div>
            </div>
            <div class='book-start-end'>
              <%= book.start.strftime("%Y/%m/%d") %>
              <% unless book.end == nil %>
                <%= "～ " %><%= book.end.strftime("%Y/%m/%d") %>
              <% end %>
            </div>
          </div>
        <% end %>
        <% if user_signed_in? && current_user.id == book.user_id %>
          <div class="book-setting">
            <%= link_to image_tag("setting.png", class:"setting-icon"), 
              edit_book_path(book.id), method: :get %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>