<li class='list'> 
  <div class='book-img-content'>
  <%#= image_tag book.image, class: "book-img" %>
  </div>
  <% if user_signed_in? && current_user.id == @book.user_id %>
  <div class='book-info'>
    <h3 class='book-title'>
      <%= @book.title %>
      <% if @book.publication == "open" %>
        <%= image_tag "open-icon.png", class: "open-icon" %>
      <% end %>
    </h3>
    <div class='book-start'>
      <%= @book.start %>
    </div>
    <div class='book-end'>
      <%= @book.end %>
    </div>
    <div class='book-place'>
      <%= @book.place %>
    </div>
    <div class='book-description'>
      <%= @book.description %>
    </div>
  </div>
<% end %>
</li>
